<div class="body">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <%= render partial: 'template/sidemenu', locals: { user: @user, book: @book } %>
      <div class="col-xs-9">
        <%= render 'template/user_index', users: @users %>
      </div>
    </div>
  </div>
</div>