<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<% if @user_or_book == "1"%>
					<%= render 'template/user_index', users: @users %>
				<% elsif @user_or_book == "2" %>
					<%= render 'template/book_index', books: @books %>
				<% else %>
				<% end %>
			</div>
		</div>
	</div>
</div>